--extra-index-url https://download.pytorch.org/whl/cpu

aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_version < "3.12"
aiohttp==3.13.5 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
alembic==1.18.4 ; python_version >= "3.10" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.13.0 ; python_version >= "3.10" and python_version < "3.12"
apispec==6.10.0 ; python_version >= "3.10" and python_version < "3.12"
asgiref==3.11.1 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==5.0.1 ; python_version == "3.10"
attrs==26.1.0 ; python_version >= "3.10" and python_version < "3.12"
babel==2.18.0 ; python_version >= "3.10" and python_version < "3.12"
blinker==1.9.0 ; python_version >= "3.10" and python_version < "3.12"
cachelib==0.13.0 ; python_version >= "3.10" and python_version < "3.12"
certifi==2026.2.25 ; python_version >= "3.10" and python_version < "3.12"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "3.12" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.7 ; python_version >= "3.10" and python_version < "3.12"
click==8.3.2 ; python_version >= "3.10" and python_version < "3.12"
clickclick==20.10.2 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12"
colorlog==4.8.0 ; python_version >= "3.10" and python_version < "3.12"
configupdater==3.2 ; python_version >= "3.10" and python_version < "3.12"
cryptography==46.0.7 ; python_version >= "3.10" and python_version < "3.12"
deprecated==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
dill==0.4.1 ; python_version >= "3.10" and python_version < "3.12"
dnspython==2.8.0 ; python_version >= "3.10" and python_version < "3.12"
email-validator==2.3.0 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.3.1 ; python_version == "3.10"
filelock==3.25.2 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.8.0 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2026.3.0 ; python_version >= "3.10" and python_version < "3.12"
google-re2==1.1.20251105 ; python_version >= "3.10" and python_version < "3.12"
googleapis-common-protos==1.74.0 ; python_version >= "3.10" and python_version < "3.12"
greenlet==3.4.0 ; python_version >= "3.10" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio==1.80.0 ; python_version >= "3.10" and python_version < "3.12"
h11==0.16.0 ; python_version >= "3.10" and python_version < "3.12"
hf-xet==1.4.3 ; python_version >= "3.10" and python_version < "3.12" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "arm64" or platform_machine == "aarch64")
httpcore==1.0.9 ; python_version >= "3.10" and python_version < "3.12"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.12"
huggingface-hub==1.10.1 ; python_version >= "3.10" and python_version < "3.12"
idna==3.11 ; python_version >= "3.10" and python_version < "3.12"
importlib-metadata==8.7.1 ; python_version >= "3.10" and python_version < "3.12"
inflection==0.5.1 ; python_version >= "3.10" and python_version < "3.12"
itsdangerous==2.2.0 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.12"
jmespath==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
joblib==1.5.3 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2025.9.1 ; python_version >= "3.10" and python_version < "3.12"
jsonschema==4.26.0 ; python_version >= "3.10" and python_version < "3.12"
lazy-object-proxy==1.12.0 ; python_version >= "3.10" and python_version < "3.12"
limits==5.8.0 ; python_version >= "3.10" and python_version < "3.12"
linkify-it-py==2.1.0 ; python_version >= "3.10" and python_version < "3.12"
mako==1.3.10 ; python_version >= "3.10" and python_version < "3.12"
markdown-it-py==4.0.0 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==3.0.3 ; python_version >= "3.10" and python_version < "3.12"
marshmallow-oneofschema==3.2.0 ; python_version >= "3.10" and python_version < "3.12"
marshmallow-sqlalchemy==0.28.2 ; python_version >= "3.10" and python_version < "3.12"
marshmallow==3.26.2 ; python_version >= "3.10" and python_version < "3.12"
mdit-py-plugins==0.5.0 ; python_version >= "3.10" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
methodtools==0.4.7 ; python_version >= "3.10" and python_version < "3.12"
more-itertools==11.0.2 ; python_version >= "3.10" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.7.1 ; python_version >= "3.10" and python_version < "3.12"
networkx==3.4.2 ; python_version == "3.10"
networkx==3.6.1 ; python_version == "3.11"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-api==1.41.0 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-common==1.41.0 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-grpc==1.41.0 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-exporter-otlp-proto-http==1.41.0 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-exporter-otlp==1.41.0 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-proto==1.41.0 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-sdk==1.41.0 ; python_version >= "3.10" and python_version < "3.12"
opentelemetry-semantic-conventions==0.62b0 ; python_version >= "3.10" and python_version < "3.12"
ordered-set==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
packaging==26.0 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.3.3 ; python_version >= "3.10" and python_version < "3.12"
pathlib-abc==0.5.2 ; python_version >= "3.10" and python_version < "3.12"
pathspec==1.0.4 ; python_version >= "3.10" and python_version < "3.12"
pendulum==3.2.0 ; python_version >= "3.10" and python_version < "3.12"
pluggy==1.6.0 ; python_version >= "3.10" and python_version < "3.12"
prison==0.2.1 ; python_version >= "3.10" and python_version < "3.12"
propcache==0.4.1 ; python_version >= "3.10" and python_version < "3.12"
protobuf==6.33.6 ; python_version >= "3.10" and python_version < "3.12"
psutil==7.2.2 ; python_version >= "3.10" and python_version < "3.12"
psycopg2-binary==2.9.11 ; python_version >= "3.10" and python_version < "3.12"
py4j==0.10.9.7 ; python_version >= "3.10" and python_version < "3.12"
pyarrow==15.0.2 ; python_version >= "3.10" and python_version < "3.12"
pycparser==3.0 ; python_version >= "3.10" and python_version < "3.12" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.10" and python_version < "3.12"
pydantic==2.12.5 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.20.0 ; python_version >= "3.10" and python_version < "3.12"
pyjwt==2.12.1 ; python_version >= "3.10" and python_version < "3.12"
pyspark==3.5.1 ; python_version >= "3.10" and python_version < "3.12"
python-daemon==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.2.2 ; python_version >= "3.10" and python_version < "3.12"
python-json-logger==2.0.7 ; python_version >= "3.10" and python_version < "3.12"
python-slugify==8.0.4 ; python_version >= "3.10" and python_version < "3.12"
pytz==2026.1.post1 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "3.12"
referencing==0.37.0 ; python_version >= "3.10" and python_version < "3.12"
regex==2026.4.4 ; python_version >= "3.10" and python_version < "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.33.1 ; python_version >= "3.10" and python_version < "3.12"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "3.12"
rich-argparse==1.7.2 ; python_version >= "3.10" and python_version < "3.12"
rich==13.9.4 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.30.0 ; python_version >= "3.10" and python_version < "3.12"
safetensors==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
scikit-learn==1.7.2 ; python_version == "3.10"
scikit-learn==1.8.0 ; python_version == "3.11"
scipy==1.15.3 ; python_version == "3.10"
scipy==1.17.1 ; python_version == "3.11"
sentence-transformers==5.4.0 ; python_version >= "3.10" and python_version < "3.12"
setproctitle==1.3.7 ; python_version >= "3.10" and python_version < "3.12"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy-jsonfield==1.0.2 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy-utils==0.42.1 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy==1.4.54 ; python_version >= "3.10" and python_version < "3.12"
sqlparse==0.5.5 ; python_version >= "3.10" and python_version < "3.12"
sympy==1.14.0 ; python_version >= "3.10" and python_version < "3.12"
tabulate==0.10.0 ; python_version >= "3.10" and python_version < "3.12"
tenacity==8.5.0 ; python_version >= "3.10" and python_version < "3.12"
termcolor==3.3.0 ; python_version >= "3.10" and python_version < "3.12"
text-unidecode==1.3 ; python_version >= "3.10" and python_version < "3.12"
threadpoolctl==3.6.0 ; python_version >= "3.10" and python_version < "3.12"
tokenizers==0.22.2 ; python_version >= "3.10" and python_version < "3.12"
tomli==2.4.1 ; python_version == "3.10"
torch==2.2.2+cpu ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.67.3 ; python_version >= "3.10" and python_version < "3.12"
transformers==5.5.3 ; python_version >= "3.10" and python_version < "3.12"
typer==0.20.1 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.12"
typing-inspection==0.4.2 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2026.1 ; python_version >= "3.10" and python_version < "3.12"
uc-micro-py==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
unicodecsv==0.14.1 ; python_version >= "3.10" and python_version < "3.12"
universal-pathlib==0.3.10 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.6.3 ; python_version >= "3.10" and python_version < "3.12"
wirerope==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
wrapt==2.1.2 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.23.0 ; python_version >= "3.10" and python_version < "3.12"
zipp==3.23.0 ; python_version >= "3.10" and python_version < "3.12"
